body {
    background-color: rgb(33, 29, 29);
    font-family: sans-serif, Arial;
    display: flex;
    justify-content: center;
}

.greetingTitle {
    color: rgb(243, 234, 234);
    font-family: inherit;
}