body {
    background-color: rgb(33, 29, 29);
    font-family: sans-serif, Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.errorTitle {
    color: rgb(243, 234, 234);
    font-family: inherit;
}